@media only screen and (min-width: 1025px) {
    .desktop-hidden {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    #bideas {
        overflow: hidden;
    }

    h2 {
        font-size: 25px;
        margin-left: 25px;
        margin-top: 65px;
    }

    p {
        font-size: 14px !important;
    }


    .burger-mask {
        display: none;
        position: fixed;
        top: 80px;
        left: 0;
        transition: .5s;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
    }

    .burger-menu {
        width: 100%;
        max-height: 50%;
        background: #A2195B;
        position: fixed;
        top: 80px;
    }

    .burger-menu__content {
        margin: 0 8px;
        height: 100%;
        padding: 41px 0;
        flex-direction: column;
    }

    .burger-menu__item {
        padding: 0 14px;
    }

    .burger-menu__item a {
        color: #fff
    }

    .burger-menu__item:not(:nth-of-type(1)) {
        margin-top: 20px;
    }

    .burger-menu__item:nth-of-type(2) a {
        text-decoration: none;
        border-bottom: 1px solid #B8B8B8;
        line-height: 160%
    }

    .burger-menu__item p {
        color: #EEEEEE;
        font-family: SF UI Display, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        margin-top: 0;
    }


    .mobile-hidden {
        display: none !important;
    }

    .bideas {
        padding-right: 25px;
        padding-left: 25px;
    }

    .header__top {
        height: 79px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 11;
        right: 0;
    }

    .header__bottom {
        margin-top: 79px;
        height: 544px;
    }

    .header__bottom h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 150.3%;
        /* or 68px */
        color: #EEEEEE;
    }

    .header__tagline h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 150.3%;
        /* or 68px */
        color: #EEEEEE;
    }

    .header__tagline p:nth-of-type(1) {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 160.3%;
        /* identical to box height, or 26px */
        color: #EEEEEE;
    }

    .header__tagline p:nth-of-type(2) {
        font-size: 14px;
    }

    .header__content {
        border-bottom: 1px solid #EEEEEE;
        padding: 0 25px;
    }

    .header__content img {
        width: 33px;
    }

    .header__burger {
        text-align: right;
        width: 24px;
        height: 24px;
        position: relative;
    }

    .header__burger.header-burger__cross span:nth-of-type(1) {
        position: absolute;
        top: 7px;
        width: 24px;
        transform: rotate(45deg);
    }

    .header__burger.header-burger__cross span:nth-of-type(2) {
        transform: rotate(-45deg);
        position: absolute;
        top: 3px;
        right: 2px;
        width: 12px;
    }

    .header__burger.header-burger__cross span:nth-of-type(3) {
        transform: rotate(-45deg);
        width: 12px;
        position: absolute;
        bottom: 5px;
        right: 10px;
    }

    .header__burger span {
        position: absolute;
        transition: .5s;
        height: 1.5px;
        display: block;
        content: '';
        border: 0;
        background-color: #EEEEEE;
        margin-bottom: 6.5px;
    }

    .header__burger span:nth-of-type(1) {
        top: 0;
        width: 19px;
    }

    .header__burger span:nth-of-type(2) {
        width: 11px;
        top: 8px;
        right: 0;
    }

    .header__burger span:nth-of-type(3) {
        width: 13px;
        bottom: 0;
        right: 5px;
    }



    .about__description {
        flex-direction: column;
        padding-left: 25px;
        padding-right: 25px;
        margin: 25px 0;
    }

    .about__description img {
        width: 339px;
        margin-left: 0;
    }

    .about__description p {
        font-size: 14px;
        margin-left: 0;
        margin-top: 20px;
    }

    .about__figures {
        flex-direction: column;
        align-items: flex-start;
        padding-right: 45px;
        padding-left: 45px;
    }

    .about__text {
        margin: 0;
    }

    .about__text p {
        font-size: 45px !important;
        text-align: left;
    }

    .about__figure {
        margin-bottom: 20px;
    }

    .about__figure h3 {
        font-size: 50px;
    }

    .about__figure small {
        font-size: 14px;
    }



    .portfolio {
        margin-bottom: 60px;
    }

    .portfolio h2 {
        margin-bottom: 60px;
    }

    .portfolio__content {
        display: flex !important;
        flex-direction: column;
        height: auto !important;
    }

    .portfolio__video {
        min-height: 400px !important;
        max-height: 400px !important;
    }


    .services__content {
        flex-direction: column;
        padding: 0 25px;
    }

    .services__content h2 {
        margin-left: 0;
        margin-bottom: 53px;
    }

    .services__names {
        min-width: auto;
    }

    .services__lines {
        display: none;
    }

    .services__description {
        display: flex;
        flex-direction: column;
    }

    .services__service {
        display: block !important;
        margin-bottom: 74px;
    }

    .services__service img {
        max-width: 250px;
    }

    .services__description h3 {
        margin-top: 32px;
        font-size: 16px;
    }

    .services__service:nth-of-type(1) img {
        width: 65px;
    }

    .services__service:nth-of-type(2) img:nth-of-type(1) {
        width: 291px;
    }

    .services__service:nth-of-type(2) img:nth-of-type(2) {
        width: 346px;
    }

    .services__flex {
        flex-wrap: wrap;
    }

    .service__flex img {
        max-width: 64px
    }

    .services__flex h4 {
        font-size: 14px !important;
    }

    .services__flex p {
        font-size: 10px !important;
    }

    .service__figure {
        margin-bottom: 20px;
    }



    .clients {
        margin-top: 0 !important;
    }

    .clients h2 {
        margin-left: 0;
        margin-bottom: 60px;
    }

    .clients__content {
        padding: 0 25px
    }

    .clients__content img {
        max-height: 35px
    }



    .contacts__connect {
        padding-top: 40px;
    }

    .contacts__connect h2 {
        font-size: 25px;
        margin-left: 25px;
        margin-bottom: 42px;
        align-self: flex-start;
    }

    .contacts__form input,
    .contacts__form textarea {
        max-width: 311px;
        height: 43px;
        font-size: 14px
    }

    .contacts__form {
        margin-left: 25px;
    }

    .contacts__form button {
        width: 312px;
        height: 43px;
        font-size: 16px;
        text-align: center;
        max-width: 312px;
        margin-left: 0;
        display: inline-block;
        padding: 7px 21px;
    }

    .footer {
        height: auto;
    }

    .footer__content {
        flex-direction: column;
    }

    .footer__address {
        margin: 40px 0;
    }

    .footer__address p {
        margin-bottom: 20px;
    }

    .footer__creation {
        align-items: flex-start;
    }
}