@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


*,
*:before,
*:after {
    box-sizing: border-box;
    color: #B8B8B8;
    font-family: Montserrat, sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    overflow-y: scroll
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 97.2%;
    color: #B22453;
    margin: 0;
}

.bideas {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 154px;
    padding-right: 154px
}

.flex {
    display: flex
}

.header {
    width: 100%;
    overflow: hidden;
}

.header__top {
    height: 113px;
    background: #A2195B;
}

.header__content {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__top .saftech__logo {
    margin-top: 13px
}

.header__bottom {
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: url("../img/header-background.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 639px;
}

.header__profile {
    font-size: 18px;
    line-height: 155.19%;
    text-align: center;
    padding: 8px 0;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #FFFFFF;
}

.header__profile span {
    padding: 8px 23px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */
    color: #FFFFFF;

}

.header__desk-nav a {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    /* identical to box height, or 144% */
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 60px;
}

.header__desk-nav a:nth-last-of-type(1) {
    margin-right: 0
}

.header__tagline {
    margin: 50px auto 75px auto;
    text-align: center
}

.header__tagline h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 112.2%;
    /* or 73px */
    text-align: center;
    text-transform: uppercase;
    color: #EDEDED;
    margin: 0;

}

.header__tagline p {
    line-height: 97.2%;
    /* or 29px */
    text-align: center;
    color: #EEEEEE;
    margin: 0;
}

.header__tagline p:nth-of-type(1) {
    font-weight: 500;
    font-size: 30px;
    line-height: 97.2%;
    text-align: center;
    color: #EEEEEE;
}

.header__tagline p:nth-of-type(2) {
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    /* identical to box height, or 144% */
    text-transform: capitalize;
    color: #FFFFFF;

}

.header__consultation {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 155.19%;
    text-transform: uppercase;
    color: #B8B8B8;
    padding: 11px 41px;
    width: 312px;
    margin: 0 auto;
    cursor: pointer
}

.header__nav ul li {
    text-align: right;
    list-style: none;
    margin-bottom: 33px
}

.header__nav ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 0;
    text-transform: uppercase;
    color: #464646;
    transition: 0.5s
}

.header__nav ul li a:hover {
    color: #B8B8B8
}

.header__down-arrow {
    position: absolute;
    bottom: 68px;
    left: 0;
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: center
}

.header__translate {
    position: absolute;
    bottom: 45px;
    right: -34px;
    transform: rotate(90deg)
}

.header__translate a {
    font-weight: 600;
    font-size: 16px;
    line-height: 0;
    text-transform: uppercase;
    color: #B8B8B8;
    text-decoration: none
}

.header__translate a:nth-of-type(1) {
    margin-right: 31px
}

.header__translate a:nth-of-type(2) {
    color: #464646
}

.about__description {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.about__description img {
    margin-left: -281px;
}

.about__description p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135.3%;
    /* or 22px */
    color: #000000;
    margin-left: 62px;
    margin-top: 113px;
}

.about__figures {
    background: url('../img/figures.png') no-repeat 50% 50%;
    background-size: cover;
    display: flex;
    height: 745px;
    justify-content: center;
    padding-bottom: 37px;
}

.about__figures p {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 97.2%;
    /* or 53px */
    text-align: right;
    color: #EEEEEE;
    margin: 0;
}

.about__text {
    margin-left: -40px;
    margin-right: 26px;
    margin-top: 100px;
}

.about__statics {
    margin-top: 80px;
}

.about__figure {
    display: flex
}

.about__figure h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 170px;
    line-height: 0.9;
    color: #EDEDED;
    margin: 0;
}

.about__figure small {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 126.3%;
    color: #FFFFFF;
    margin-left: 24px;
}

.services__content {
    padding: 185px 200px;
    display: flex;
    justify-content: space-between;
}

.service__space {
    margin-left: 36px;
    color: #202020;
}

.services__names {
    min-width: 400px;
}

.services__names ul {
    margin: 65px 0 0 0;
    padding: 0;
    width: 100%;
}

.services__names ul li {
    list-style: none;
    width: 100%;
    margin-bottom: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 126.3%;
    /* or 20px */
    color: #202020;
    cursor: pointer;
}

.services__names ul li.active {
    font-weight: bold;
    cursor: default;
}

.services__names ul li span {
    margin-right: 15px;
    color: #202020;
}

.services__names ul li:nth-of-type(1) span {
    margin-right: 19px;
}
.services__names ul li:nth-of-type(4) span {
    margin-right: 13px;
}

.services__description {
    max-width: 500px;
    padding-top: 10px;
}

.services__service {
    display: none;
}

.services__service:nth-of-type(2) img {
    margin-bottom: 35px;
}

.services__service:nth-of-type(2) h3,
.services__service:nth-of-type(5) h3 {
    margin: 0;
}

.services__service:nth-of-type(5) h3 {
    margin-top: 30px;
}

.services__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.service__figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.service__figure img {
    width: 64px;
    margin-bottom: 18px;
}

.service__figure small {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 126.3%;
    /* identical to box height, or 13px */
    color: #1E1E1E;
}

.service__figure h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #202020;
    margin: 0;
}

.services__service .service__figure p {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 126.3%;
    /* or 13px */
    color: #202020;
}

.services__description h3 {
    margin-top: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 126.3%;
    /* or 25px */
    color: #202020;
}

.services__description p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 138.3%;
    /* or 22px */
    color: #202020;
}

.services__description span {
    margin-right: 8px;
    color: #202020;
}

.services__lines {
    width: 100%;
    margin-bottom: 48px;
}

.portfolio {
    width: 100%;
    margin-bottom: 20px;
}

.portfolio__content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.9fr 1.2fr 0.9fr;
    grid-template-areas: "first first second second" "third third third fourth" "seven seven eight eight" "nine nine nine ten";
    height: 1440px;
}

.portfolio__video {
    min-height: 433px;
    background-size: cover;
    position: relative;
}

.portfolio__video.portfolio__big {
    min-height: 574px;
}

.portfolio__video,
.portfolio__video--first,
.portfolio__video--second {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    content: '';
}

.portfolio__video:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". . ." ". . .";
    grid-area: first;
    background-image: url("../img/portfolio/1.jpg");
}
.portfolio__video:nth-of-type(2) {
    grid-area: second;
    background-image: url("../img/portfolio/2.png");
}
.portfolio__video:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". . ." ". . .";
    grid-area: third;
    background-image: url("../img/portfolio/3.png");
}
.portfolio__video:nth-of-type(4) {
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "five five five" "six six six";
    grid-area: fourth;
}
.portfolio__video--first {
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "five five five" "six six six";
    grid-area: five;
    background-image: url("../img/portfolio/4.png");
}

.portfolio__video--second {
    grid-area: six;
    background-image: url("../img/portfolio/5.png");
}

.portfolio__video:nth-of-type(5) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". . ." ". . .";
    grid-area: seven;
    background-image: url("../img/portfolio/6.png");
}

.portfolio__video:nth-of-type(6) {
    grid-area: eight;
    background-image: url("../img/portfolio/7.png");
}

.portfolio__video:nth-of-type(7) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". . ." ". . .";
    grid-area: nine;
    background-image: url("../img/portfolio/8.png");
}

.portfolio__video--seven {
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "el el el" "tw tw tw";
    grid-area: ten;
}

.portfolio__video--seven .portfolio__video--first {
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "el el el" "tw tw tw";
    grid-area: el;
    background-image: url("../img/portfolio/9.png");
}

.portfolio__video--seven .portfolio__video--second {
    grid-area: tw;
    background-image: url("../img/portfolio/10.png");
}

.portfolio__video--first,
.portfolio__video--second {
    position: relative;
}

.portfolio__text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio__text p {
    color: #FFFFFF;
}

.clients {
    margin-top: 500px;
}

.clients__content {
    padding: 185px 200px;
}

.clients__content h2 {
    margin-bottom: 119px;
}

.clients__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.clients__logos img {
    margin-right: 50px;
    margin-bottom: 36px;
    object-fit: contain;
}

.contacts__connect {
    background: url('../img/form-background.png') no-repeat 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
    padding-bottom: 88px;
}

.contacts__connect h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 91.2%;
    /* or 50px */
    color: #FFFFFF;
    margin-bottom: 130px;
}

.contacts__form {
    flex-wrap: wrap;
    display: flex;
    max-width: 766px;
    justify-content: space-between;
}

.contacts__input {
    outline: 0;
    background: #FFFFFF;
    border: 2px solid rgba(131, 131, 131, 0.5);
    width: 370px;
    height: 59px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 160%;
    /* identical to box height, or 29px */
    color: #4E4E4E;
    padding: 14px 22px;
    margin-bottom: 30px;
}

.contacts__textarea {
    outline: 0;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    width: 100%;
    height: 59px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    /* identical to box height, or 29px */
    color: #4E4E4E;
    padding: 14px 22px;
    resize: none;
    margin-bottom: 39px;
}

.contacts__form button {
    margin-left: auto;
    width: 305px;
    height: 65px;
    background: linear-gradient(90deg, #EF1C54 4.41%, #B80465 94.83%);
    outline: 0;
    border: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    /* identical to box height, or 29px */
    text-transform: capitalize;
    color: #FCFBF8;
    padding: 18px 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.footer {
    content: '';
    height: 251px;
    background: radial-gradient(100.76% 587.64% at -0.76% -8.79%, #E54212 0%, #CB333C 37.51%, #B22453 69.43%, #9F165F 97.62%);
}

.footer__content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 68px 154px;
}

.footer__content p {
    margin: 0;
}

.footer__copyright p {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 133%;
    /* or 13px */
    color: #FFFFFF;
    margin-top: 24px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
}

.footer__menu a {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */
    color: #FFFFFF;
    margin-bottom: 15px;
}

.footer__address {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__address p {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
    /* or 22px */
}

.footer__address img {
    margin-right: 10px;
}

.footer__address p:last-of-type img {
    margin-right: 28px;
}

.footer__creation {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__creation a:nth-of-type(2) img {
    margin-bottom: -20px;
}

.footer__btn-up {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 160%;
    /* or 27px */
    color: #FFFFFF;
    text-decoration: none;
}

.send-modal__mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    transition: .5s;
    opacity: 0
}

.send-modal__window {
    background: #FFFFFF;
    /*border: 1px solid #B8B8B8;*/
    width: 626px;
    min-height: 474px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative
}

.send-modal__window div {
    margin: 85px 0;
    text-align: center;
    max-width: 60%
}

.send-modal__window div p {
    color: #7A7A7A;
    /*margin-top: 10px;*/
    margin-bottom: 33px
}

.send-modal__window h3 {
    line-height: 110%
}

.send-modal__window div button {
    background: transparent;
    border: 2px solid #A2195B;
    color: #A2195B;
    font-weight: 600;
    font-size: 18px;
    padding: 13px 33px;
    /*margin-top: 22px;*/
    cursor: pointer;
    text-transform: uppercase
}

.send-modal__window div img {
    margin-bottom: 20px
}

.send-modal__window div button {
    width: 100%
}

.send-modal__cross {
    position: absolute;
    color: #A2195B;
    right: 0;
    top: 0;
    width: 75px;
    height: 75px;
    /*border: 1px solid #B8B8B8;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-radius: 50%;*/
    cursor: pointer
}

#modal3 p {
    text-align: left;
}

#modal3 .send-modal__window {
    width: 1101px;
    padding: 100px;
}

#modal3 .send-modal__window div {
    max-width: none;
    margin: 0;
}
#modal3 iframe {
    width: 100%;
    min-height: 400px;
}


#modal3 .cost__idea img {
    width: 410px;
    margin-top: 125px;
}

#modal3 h2 {
    text-align: left;
    margin-top: 0;
}

#modal3 .cost__idea {
    align-items: center;
}

#modal3 button {
    width: 301px;
    margin-top: 60px;
}